<p-toast></p-toast>
<section class="text-center">
<div class="close-icon" mat-dialog-actions>
  <button mat-icon-button color="warn" mat-dialog-close>
    <mat-icon>cancel</mat-icon>
  </button>
</div>
  <h2 class="mb-0 mb-1">{{ data?.register.userName }}</h2>
  <h2 class="mb-0 mb-1">( {{ data?.register.email }} )</h2>
  <h3>Registered At: {{ data?.register.registeredAt }}</h3>
  <div class="dropdown">
    <label for=""><h2 class="mb-0">Select the Status:</h2></label>
    <p-dropdown
      [options]="status"
      placeholder="Select the status"
      [(ngModel)]="selectedStatus"
      [showClear]="true"
    ></p-dropdown>
  </div>
  <div class="button mt-3">
    <button
      mat-flat-button
      color="primary"
      *ngIf="!isLoading"
      (click)="updateStatusValue()"
    >
      Update
    </button>
    <p-progressSpinner
      [style]="{ width: '50px', height: '50px' }"
      styleClass="custom-spinner"
      strokeWidth="8"
      fill="var(--surface-ground)"
      animationDuration=".5s"
      *ngIf="isLoading"
    ></p-progressSpinner>
  </div>
</section>
