<header>
  <div class="flex">
    <div class="logo flex-none flex align-items-center justify-content-center">
      <h1 class="font-semibold">LOGO</h1>
    </div>
    <div
      class="title flex-grow-1 flex align-items-center justify-content-center"
    >
      <h1 class="font-semibold">Admission App</h1>
    </div>
    <div
      class="block md:hidden flex-none flex align-items-center justify-content-center"
    >
      <i
        class="pi pi-bars"
        style="font-size: 1.5rem"
        (click)="visibleSidebar = true"
      ></i>
    </div>
  </div>
  <nav class="hidden md:block">
    <ul class="flex align-items-center justify-content-center">
      <li class="ml-4 mr-4"><a routerLink="/">Home</a></li>
      <li class="ml-4 mr-4"><a routerLink="c">Courses</a></li>
      <li class="ml-4 mr-4"><a routerLink="contact">Contact</a></li>
      <li class="ml-4 mr-4"><a (click)="openLoginDialog()">Login</a></li>
    </ul>
  </nav>
</header>

<p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
  <nav>
    <ul class="flex flex-column align-items-center" style="list-style: none">
      <li class="mt-4"><a (click)="navigateTo('/')">Home</a></li>
      <li class="mt-4"><a (click)="navigateTo('c')">Courses</a></li>
      <li class="mt-4"><a (click)="navigateTo('contact')">Contact</a></li>
      <li class="mt-4"><a (click)="openLoginDialog()">Login</a></li>
    </ul>
  </nav>
</p-sidebar>
