.home {
  height: 70vh;
  margin: 15px auto;

  .hero {
    align-items: center;
    .img {
      text-align: right;
      img {
        width: 700px;
      }
    }
  }
}

@media (max-width: 900px) {
  .home {
    height: 37vh;
  }
}

@media (max-width: 700px) {
  .home {
    height: 72vh;
  }
}
@media (max-width: 500px) {
  .home {
    height: 70vh;
  }
}

@media (max-width: 400px) {
  .home {
    height: 66vh;
  }
}
